@page
@model MediPlat.RazorPage.Pages.DoctorSubscription.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DoctorSubscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoctorSubscription.Id" />
            <div class="form-group">
                <label asp-for="DoctorSubscription.SubscriptionId" class="control-label"></label>
                <select asp-for="DoctorSubscription.SubscriptionId" class="form-control" asp-items="ViewBag.SubscriptionId"></select>
                <span asp-validation-for="DoctorSubscription.SubscriptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSubscription.EnableSlot" class="control-label"></label>
                <input asp-for="DoctorSubscription.EnableSlot" class="form-control" />
                <span asp-validation-for="DoctorSubscription.EnableSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSubscription.StartDate" class="control-label"></label>
                <input asp-for="DoctorSubscription.StartDate" class="form-control" />
                <span asp-validation-for="DoctorSubscription.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSubscription.EndDate" class="control-label"></label>
                <input asp-for="DoctorSubscription.EndDate" class="form-control" />
                <span asp-validation-for="DoctorSubscription.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSubscription.UpdateDate" class="control-label"></label>
                <input asp-for="DoctorSubscription.UpdateDate" class="form-control" />
                <span asp-validation-for="DoctorSubscription.UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSubscription.DoctorId" class="control-label"></label>
                <select asp-for="DoctorSubscription.DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                <span asp-validation-for="DoctorSubscription.DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
