@page
@model MediPlat.RazorPage.Pages.PatientPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Patient.Id" />
            <div class="form-group">
                <label asp-for="Patient.UserName" class="control-label"></label>
                <input asp-for="Patient.UserName" class="form-control" />
                <span asp-validation-for="Patient.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.FullName" class="control-label"></label>
                <input asp-for="Patient.FullName" class="form-control" />
                <span asp-validation-for="Patient.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Email" class="control-label"></label>
                <input asp-for="Patient.Email" class="form-control" />
                <span asp-validation-for="Patient.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Password" class="control-label"></label>
                <input asp-for="Patient.Password" class="form-control" />
                <span asp-validation-for="Patient.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.PhoneNumber" class="control-label"></label>
                <input asp-for="Patient.PhoneNumber" class="form-control" />
                <span asp-validation-for="Patient.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Balance" class="control-label"></label>
                <input asp-for="Patient.Balance" class="form-control" />
                <span asp-validation-for="Patient.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.JoinDate" class="control-label"></label>
                <input asp-for="Patient.JoinDate" class="form-control" />
                <span asp-validation-for="Patient.JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Sex" class="control-label"></label>
                <input asp-for="Patient.Sex" class="form-control" />
                <span asp-validation-for="Patient.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Address" class="control-label"></label>
                <input asp-for="Patient.Address" class="form-control" />
                <span asp-validation-for="Patient.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Status" class="control-label"></label>
                <input asp-for="Patient.Status" class="form-control" />
                <span asp-validation-for="Patient.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
